html, body {
    height: 100%;
  }

.side-bar{
    background-color: rgb(62, 56, 52);
}
.menu-list :hover{
    background-color: rgb(44, 38, 38)!important;
}
#map-container{
    height:250;
}
.text-map {
    font: 4pt sans-serif;
    fill: rgb(33, 33, 33);
    position: absolute!important;
    z-index: 99!important;  
}
.cls-1:hover{
    fill: rgb(225, 137, 137)!important;
    cursor: pointer;
}
.edificio-singolo{
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    -webkit-box-shadow: 1px -1px 15px -5px #8A8A8A; 
    box-shadow: 1px -1px 15px -5px #8A8A8A;
    margin: 1px;
    margin-right: 15%;
}

#dialog-box{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    padding: 20px;
    padding-top: 60px;
    padding-left: 80px;
    background-color: rgb(255, 249, 240);
    display: block;
    position: absolute;
    top:40%;
    left: 45%;
    z-index: 99;
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 98;
    visibility: hidden;
  }